* {
  margin: 0;
  padding: 0;
}

/* .col-1 {
  background-color: pink;
  width: 100px;
  height: 100px;
  margin: 40px;
  padding: 30px;
  box-sizing: border-box;
}

.col-2 {
  background-color: palevioletred;
  width: 100px;
  height: 100px;
  margin: 40px;
  padding: 30px;
  box-sizing: content-box;
} */

.row {
  background-color: blueviolet;
  margin: auto;
  max-width: 1000px;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  /* flex-flow: column; */
  /* flex-flow: column-reverse; */
  /* flex-flow: row; */
  /* flex-flow: row-reverse; */
  /* flex-flow: row-reverse wrap; */
  /* flex-flow: row wrap-reverse; */
  /* justify-content: center ; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
}

/* .content div {
  display: flex;
  align-items: flex-end;
} */

.col {
  width: 150px;
  height: 150px;
}

.satu {
  background-color: blue;
}

.dua {
  background-color: purple;
}

.tiga {
  background-color: violet;
}

.empat {
  background-color: plum;
}
